.nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 18px;
}

.item-title{
    font-size: 30px;
}

.item-inicio {
    margin-left: 6rem;
}


.item-sesion{
    align-content: center;
}

.item.icon{

}

#shopping-cart{
    width: 25%;
}