@import '../var.scss';

.nav-color {
  background-color: #E5E5E5;
}

.navbar1 {
  width: 35vh;
  height: 100vh;
}

.a-img{
  width: 100%;
  height: 10rem;
  // border-radius: 5rem;
  background-color: #1f1f1f;
}


.line {
  width: 100%;
  height: 1px;
  background-color: var(--black);
}

.img-w {
  width: 15%;
  margin-right: 10px;
}