.img {
    width: 30%;
}

.container-img {
    width: 100px;
    background-color: #404141;
    position: relative;
    display: inline-block;
    text-align: center;
    --bs-gutter-x: none !important;
}

.container-shadow {
    background-color: #404141;
    color: #fff;
    /* opacity: .7; */
}

.vinilo-text {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.cd-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}


#text {
    text-align: justify;
}

/* Productos */

p{
   color: black;
   font-weight: bold;

}

#title-products {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.card {
    width: 18rem;
}

.row {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

#product-container {
    text-align: center;
    padding: 1rem;
}

#container-button-products {
    padding-top: 2rem;
}

@media (max-width: 1300px) {
    .card {
        width: 14rem;
    }
}

/*  about us */

.container-about-us {
    padding-top: 5rem;
    --bs-gutter-x: none !important;
}
.container-about-us .img2 {
    width: 100%;
    height: auto;
}

#title-about-us{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container-info{
    margin-left: 22rem;
    margin-right: 22rem;
}

.container-filter{
    filter: brightness(0.8);
}